---
layout: base.njk
pagination:
  data: collections.works
  size: 10
  reverse: true
  filter:
    - works
    - posts

---
<section id="works" class="mb-20">
  {% block workslist %}
    {% include '../_components/_workslist.njk' %}
  {% endblock workslist %}
</section>

{% block services %}
  {% include '../_components/_services.njk' %}
{% endblock services %}