{:site-title         "Tank Thinks"
 :author             "Adam Tankanow"
 :description        "Sometimes I do think about stuff."
 :site-url           "http://tankthinks.net"
 :post-root          "posts"
 :tag-root           "tags"
 :page-root          "pages"
 :blog-prefix        "/blog"
 :rss-name           "feed.xml"
 :rss-filters        ["cryogen"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :sass-src           nil
 :sass-dest          nil
 :theme              "mnmlst"
 :resources          ["img"]
 :keep-files         [".git"]
 :disqus?            true
 :disqus-shortname   "tankthinks"
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          false}
